.clear
{
  clear: both;
}

.tabMainWrapper
{
  position: relative;
  padding: 50px;
}

.tabMainWrapper .btnTab
{
  position: relative;
  display: inline-block;
  min-width: 120px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-left: 0px;
  border-bottom: 0px;
  padding: 20px;
  float: left;
  text-align: center;
  text-decoration: none;

  font-size: 14px;
  color: #666666;
  background-color: #f1f1f1;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.tabMainWrapper .btnTab:hover,
.tabMainWrapper .btnTab.selected
{
  background-color: #FFFFFF;
  color: #75c8b6;
}

.tabMainWrapper .btnTab:active
{
  -moz-box-shadow: inset 0 0 4px #CCCCCC;
  -webkit-box-shadow: inset 0 0 4px #CCCCCC;
  box-shadow: inset 0 0 4px #CCCCCC;
}

.tabMainWrapper .btnTab:first-child
{
  border-left: 1px solid #CCCCCC;
}

.tabMainWrapper .tabDisplayWrapper
{
  position: relative;
  border: 1px solid #CCCCCC;
  padding: 35px;
}

.tabMainWrapper .tabDisplayItem
{
  display: none;
}

.tabMainWrapper [class*='innerBox-']
{
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 25px;
}

.tabMainWrapper [class*='innerBox-']:last-child
{
  margin-bottom: 0px;
}

.tabMainWrapper [class*='lightGrey']
{
    background-color: #eeeeee;
}

.tabMainWrapper hr
{
  border-top: 1px solid #CCCCCC;
}

.tabMainWrapper .tabLeft-100
{
  margin-left: 100px;
}

/********* formDisplay Items **********/
.formRow
{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.formRowWrapper
{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.formRowWrapper.textItem .rowMessage
{
  position: relative;
  display: block;
  font-size: 12px;
  color: #666666;
  padding: 11px 0px 9px 100px;
  max-width: 900px;
}


.rowTitle
{
  /*position: relative;
  float: left;
  width: 100px;
  font-size: 12px;
  color: #666666;
  padding: 11px 0px 9px;*/

  position: absolute;
  display: block;
  width: 100px;
  font-size: 12px;
  color: #666666;
  padding: 11px 0px 9px;
  top: 0px;
  left: 0px;
}

/* kon */

.sortable .sortableItem
{
  position: relative;
  background-color: #FC0;
  display: inline-block;
  border: 0px;
  padding: 0px;
  margin: 10px;
  font-size: 0px;
  cursor: pointer;
}

.sortable .sortableItem:hover .closeThis
{
  display: block;
}

.closeThis
{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  background-color: #FFF;
  border-radius: 50%;
  border: 2px solid #000;
  display: none;
}

.closeThis::before,
.closeThis::after
{
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -6px;
  transform-origin: 50%;
}

.closeThis::before
{
  transform: rotate(-45deg);
}

.closeThis::after
{
  transform: rotate(45deg);
}

/* kon end */


.rowMessage
{
  position: relative;
  padding-left: 100px;
}

.rowMessage[class*="margin-right-"]
{
  margin-right: 250px;
}

.rowUploadPhoto
{
  position: relative;
  padding-left: 100px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.rowUploadPhoto img.landscript
{
  max-width: 150px;
}

.rowUploadPhoto img.vertical
{
  max-width: 100px;
}

.rowUploadPhoto img
{
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid #FFFFFF;

  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.15);
}

/********** formStyleWrapper **********/
.formStyleWrapper
{
  position: relative;
  display: block;
  width: 100%;
}

.styleRow
{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

button, input, textarea, select
{
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0px;
  box-sizing: border-box;
  border-radius: 10px;

  font-size: 12px;
}

button
{
  padding: 10px 15px;
  text-align: center;

  color: #FFFFFF;
  background-color: #75c8b6;
  border: 1px solid #CCCCCC;

  min-width: 100px;

  -webkit-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.25);

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;

  margin-right: 25px;
}

.btnAbsWrapper
{
  position: absolute;
  width: 230px;
  top: 0px;
  right: 0px;
  text-align: left;
}

button[class*="btnAbs-"]
{
  /*position: absolute;
  top: 0px;
  right: 0px;*/
}

button.last
{
  margin-right: 0px;
}

button:hover
{
  background-color: #7fd4c2;
  color: #FFFFFF;
}

button:focus
{
  border: 1px solid #7fd4c2;
  background-color: #7fd4c2;
  color: #FFFFFF;
}

button:active
{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

input, textarea
{
  border: 1px solid #CCCCCC;
  width: 100%;

  padding: 10px;
  color: #666666;
  max-width: 800px;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

input[type="checkbox"]
{
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
  width: auto;
  cursor: pointer;
}

input:active, textarea:active
{
  -moz-box-shadow: inset 0 0 4px #CCCCCC;
  -webkit-box-shadow: inset 0 0 4px #CCCCCC;
  box-shadow: inset 0 0 4px #CCCCCC;
}

textarea
{
  min-height: 150px;
}

input:hover, textarea:hover, select:hover
{
  border: 1px solid #BBBBBB;
  background-color: #FEFEFE;
}

input:focus, textarea:focus, select:focus
{
  border: 1px solid #888888;
}

select[disabled], input[disabled], textarea[disabled]
{
  background-color: #DDDDDD;
  border: 1px solid #DDDDDD;
  color: #999999;
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
  cursor: not-allowed !important;
}

select
{
  border: 1px solid #CCCCCC;
  width: 100%;

  padding: 10px;
  color: #666666;
  max-width: 800px;

  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/*** datepixker ***/
.input-group-addon
{
  position: absolute;
  width: 34px;
  height: 34px;
  padding: 9px 0px;
  top: 0px;
  right: 0px;
  border: 0px;
  background-color: transparent;
}


.btnWrapper
{
  position: relative;
}

.btnWrapper.aCenter
{
  text-align: center;
}

.btnWrapper.wMarginTop
{
  margin-top: 20px;
}

p.alert-red
{
  font-size: 12px;
  color: #ff0000;
}

p.alert-black
{
  font-size: 12px;
  color: #000000;
}


/******************************
POPUP WRAPPER
******************************/
/* line 4, scss/_popup.scss */
.popupWrapper {
  position: relative;
  width: 100%;
  margin: 0px auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 80px 20px 80px;
}
/* line 12, scss/_popup.scss */
.popupWrapper .popClose {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  background: url("../images/common/popClose.png");
  background-position: 0px 0px;
}

/* line 45, scss/_popup.scss */
.popupWrapper.alertPop {
  position: relative;
  padding: 0px;
  width: 100%;
  max-width: 600px;
  background-color: #FFF;
  height: auto;
  text-align: center;
}

/* line 25, scss/_popup.scss */
.popupWrapper .popAlertWrapper p {
  font-size: 14px;
  color: #666666;
}

.popupWrapper .popAlertWrapper .popAlertTitle
{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  background-color: #eeeeee;
}

.popupWrapper .popAlertWrapper .popAlertTitle h2
{
  position: relative;
  margin: 0px;
  color: #75c8b6;
}

.popupWrapper .popAlertWrapper .popAlertMessage
{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 20px;
}

.popAlertBtnWrapper
{
  position: relative;
  display: block;
  padding-bottom: 20px;
}

/******************************
POPUP ANIMATION
******************************/
/********** zoom-in **********/
/* line 139, scss/_popup.scss */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 142, scss/_popup.scss */
.mfp-zoom-in .mfp-with-anim {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* line 149, scss/_popup.scss */
.mfp-zoom-in.mfp-bg {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
/* line 158, scss/_popup.scss */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* line 164, scss/_popup.scss */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 173, scss/_popup.scss */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* line 179, scss/_popup.scss */
.mfp-zoom-in.mfp-removing.mfp-bg {
  -moz-transition: all 0.3s 0.5s;
  -o-transition: all 0.3s 0.5s;
  -webkit-transition: all 0.3s;
  -webkit-transition-delay: 0.5s;
  transition: all 0.3s 0.5s;
  opacity: 0;
}

/********** move-horizontal **********/
/* line 188, scss/_popup.scss */
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 191, scss/_popup.scss */
.mfp-move-horizontal .mfp-with-anim {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}
/* line 198, scss/_popup.scss */
.mfp-move-horizontal.mfp-bg {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
/* line 207, scss/_popup.scss */
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
/* line 213, scss/_popup.scss */
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 222, scss/_popup.scss */
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}
/* line 228, scss/_popup.scss */
.mfp-move-horizontal.mfp-removing.mfp-bg {
  -moz-transition: all 0.2s 0.5s;
  -o-transition: all 0.2s 0.5s;
  -webkit-transition: all 0.2s;
  -webkit-transition-delay: 0.5s;
  transition: all 0.2s 0.5s;
  opacity: 0;
}

/********** move-from-top **********/
/* line 237, scss/_popup.scss */
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 239, scss/_popup.scss */
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
/* line 245, scss/_popup.scss */
.mfp-move-from-top .mfp-with-anim {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
}
/* line 252, scss/_popup.scss */
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 261, scss/_popup.scss */
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* line 267, scss/_popup.scss */
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 276, scss/_popup.scss */
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
}
/* line 282, scss/_popup.scss */
.mfp-move-from-top.mfp-removing.mfp-bg {
  -moz-transition: all 0.2s 0.5s;
  -o-transition: all 0.2s 0.5s;
  -webkit-transition: all 0.2s;
  -webkit-transition-delay: 0.5s;
  transition: all 0.2s 0.5s;
  opacity: 0;
}

/********** 3d-unfold **********/
/* line 291, scss/_popup.scss */
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 293, scss/_popup.scss */
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
/* line 299, scss/_popup.scss */
.mfp-3d-unfold .mfp-with-anim {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: rotateY(-60deg);
  -webkit-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
  opacity: 0;
}
/* line 308, scss/_popup.scss */
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 317, scss/_popup.scss */
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
/* line 323, scss/_popup.scss */
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 332, scss/_popup.scss */
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -moz-transform: rotateY(60deg);
  -webkit-transform: rotateY(60deg);
  transform: rotateY(60deg);
  opacity: 0;
}
/* line 338, scss/_popup.scss */
.mfp-3d-unfold.mfp-removing.mfp-bg {
  -moz-transition: all 0.5s 0.5s;
  -o-transition: all 0.5s 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
  transition: all 0.5s 0.5s;
  opacity: 0;
}

/********** zoom-out **********/
/* line 347, scss/_popup.scss */
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 350, scss/_popup.scss */
.mfp-zoom-out .mfp-with-anim {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0;
}
/* line 357, scss/_popup.scss */
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 366, scss/_popup.scss */
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
/* line 372, scss/_popup.scss */
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 381, scss/_popup.scss */
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0;
}
/* line 387, scss/_popup.scss */
.mfp-zoom-out.mfp-removing.mfp-bg {
  -moz-transition: all 0.3s 0.5s;
  -o-transition: all 0.3s 0.5s;
  -webkit-transition: all 0.3s;
  -webkit-transition-delay: 0.5s;
  transition: all 0.3s 0.5s;
  opacity: 0;
}

/********** slide-bottom **********/
/* line 396, scss/_popup.scss */
.mfp-slide-bottom {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 399, scss/_popup.scss */
.mfp-slide-bottom .mfp-with-anim {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
  opacity: 0;
}
/* line 406, scss/_popup.scss */
.mfp-slide-bottom.mfp-bg {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
/* line 415, scss/_popup.scss */
.mfp-slide-bottom.mfp-ready .mfp-with-anim {
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  opacity: 1;
}
/* line 421, scss/_popup.scss */
.mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 430, scss/_popup.scss */
.mfp-slide-bottom.mfp-removing .mfp-with-anim {
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
  opacity: 0;
}
/* line 436, scss/_popup.scss */
.mfp-slide-bottom.mfp-removing.mfp-bg {
  -moz-transition: all 0.3s 0.5s;
  -o-transition: all 0.3s 0.5s;
  -webkit-transition: all 0.3s;
  -webkit-transition-delay: 0.5s;
  transition: all 0.3s 0.5s;
  opacity: 0;
}
