@font-face {
	font-family: "iconFont";
	src: url('dev/fonts/iconiconFont.eot');
	src: url('dev/fonts/iconiconFont.eot?#iefix') format('eot'),
		url('dev/fonts/iconiconFont.woff2') format('woff2'),
		url('dev/fonts/iconiconFont.woff') format('woff'),
		url('dev/fonts/iconiconFont.ttf') format('truetype'),
		url('dev/fonts/iconiconFont.svg#iconFont') format('svg');
}

.icon:before {
	font-family: "iconFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow:before {
	content: "\E001";
}

.icon-heart:before {
	content: "\E002";
}

.icon-home:before {
	content: "\E003";
}

.icon-winner:before {
	content: "\E004";
}
