.footer
{
	position: relative;
	width: 100%;
	background-color: $colorWhite;

	.footer__menu
	{
		position: relative;
		display: block;

		.desktop &
		{
			padding: 70px 100px 100px;
		}

		.tablet &
		{
			padding: 70px 50px 100px;
		}

		.mobile &
		{
			padding: 40px 30px 50px;
		}

		.footer__column__innerItem
		{
			margin-bottom: 20px;
		}

	}

	.footer__menu__item
	{
		position: relative;
		display: block;

		.footer__menu__link
		{
			position: relative;
			display: inline-block;
			@include textStyle(footerMenu);
			padding: 5px 5px 5px 0px;
			color: $colorGrey;
			transition: all 0.25s;

			&:hover
			{
				color: $colorGolden1;
			}

		}

	}
}

.footer__sm
{
	position: absolute;
	min-width: 145px;

	.tablet &
	{
		min-width: 115px;
	}
}

.btn_sm
{
  position: relative;
	@include inlineBlock;
	vertical-align: top;
	width: 25px;
	height: 25px;
	background-color: $colorGrey;
	margin-right: 15px;
	margin-bottom: 5px;
	border-radius: 4px;
	transition: all 0.25s;
	margin-top: 10px;

	.tablet &
	{
		margin-top: 5px;
		margin-right: 5px;
	}

	&:last-child
	{
		margin-right: 0px;
	}

	.sm__icon
	{
		fill: $colorWhite;
	}

	&:hover
	{
		background-color: $colorGolden1;
	}
}
