/******************************
POPUP WRAPPER
******************************/
.popupWrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px;
	//background-color: $colorWhite;
	//overflow: hidden;

	.popContent
	{
		position: relative;
		width: 100%;
		// overflow: hidden;
	}

	.popAlertWrapper
	{
		position: relative;

		p {
			color: $colorWhite;
		}
	}
}

.errorMessage
{
	position: relative;
	text-align: left;

	p
	{
		color: $colorBlack;
	}
}

.mfp-container
{
	padding: 0px;
}

@mixin standardMaxWidth()
{
	//max-width: 1660px;
	max-width: 1400px;
	box-sizing: border-box;
	margin: 0px auto;
}

[class*="popSection"]
{
	position: relative;
	margin: 0px auto;
}

/******************************
popWrapper s2
******************************/
.popupWrapper
{
	a{
		color: inherit;
		text-decoration: underline;

		&:hover
		{
			text-decoration: none;
		}
	}
}

.popupWrapper.alertPop {
	width: 100%;
	background-color: #FFF;
	height: auto;
	text-align: center;
	max-width: 400px;
	padding: 20px;
	p {
		font-size: 20px;
		line-height: 1.3em;
		color: #333333;
	}
}

.popupWrapper.tncPop {
	width: 730px;
	height: auto;
	text-align: center;

	h1 {
		color: $colorWhite;
		font-size: 25px;
		margin-bottom: 20px;
	}

	.tncContentWrapper {
		position: relative;

		ul {
			position: relative;
			list-style: disc;
			list-style-position: inside;

			li {
				font-size: 20px;
				line-height: 1.3em;
				color: $colorWhite;
				margin-bottom: 15px;

				a {
					color: $colorWhite;
				}
			}
		}
	}
}

/******************************
popupSection__
******************************/
[class*="popupSection__"]
{
	position: relative;
	margin: 0px auto;



	.btn__popClose
	{
		position: absolute;
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		top: 0;
		right: 0;

		&.active
		{
			&::before,
			&::after
			{
				opacity: 1;
			}

			&::before
			{
				transform: rotate(45deg);
			}

			&::after
			{
				transform: rotate(-45deg);
			}
		}

		&::before,
		&::after
		{
			content: "";
			position: absolute;
			width: 30px;
			height: 2px;
			background-color: $colorWhite;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -15px;
			opacity: 0;
			transition: all 0.5s;
		}

		&::before
		{
			transform: rotate(-45deg);
		}

		&::after
		{
			transform: rotate(45deg);
		}


	}
}


.popupSection__gallery
{
	.desktop &
	{
		max-width: 1000px;
		padding: 40px;
	}

	.tablet &
	{
		max-width: 700px;
		padding: 40px;
	}

	.mobile &
	{
		box-sizing: border-box;
		padding: 40px;
	}

	.slick__display__wrapper
	{
		position: relative;
		width: 100%;
		margin-bottom:20px;

		.slick__display__item
		{
			position: relative;
			width: 100%;
			outline: 0;
		}
	}

	.slick__thumb__wrapper
	{
		position: relative;
		width: 100%;

		[class*="arrow__wrapper"]
		{
			position: absolute;
			top: 50%;
			margin-top: -25px;
			width: 50px;
			height: 50px;
			z-index: 1;

			&[class*="left"]
			{
				left: -50px;
				.stroke
				{
					transform: rotate(135deg);
					margin-left: -5px;
				}
			}

			&[class*="right"]
			{
				right: -50px;
				.stroke
				{
					transform: rotate(-45deg);
					margin-left: -15px;
				}
			}

			.stroke
			{
				position: absolute;
				display: block;
				box-sizing: border-box;
				width: 20px;
				height: 20px;
				border-right: 2px solid $colorWhite;
		    border-bottom: 2px solid $colorWhite;
				top: 50%;
				margin-top: -10px;
				left: 50%;
				transform-origin: 50% 50%;
			}

		}

		.slick__thumb__item
		{
			position: relative;
			margin: 10px;
			outline: 0;
			box-sizing: border-box;

			.desktop &,
			.tablet &
			{
				border: 4px solid;
				border-color: $colorWhite;
			}

			.mobile &
			{
				border: 2px solid;
				border-color: $colorWhite;
			}


			&.slick-current
			{
				border-color: $colorGolden1;
			}

			.slick__thumb__item__inner
			{
				position: relative;
				width: 100%;
				padding-top:100%;
			}

			.abs__wrapper
			{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
			}
		}
	}
}

/******************************
POPUP ANIMATION
******************************/
/********** zoom-in **********/
.mfp-zoom-in {
	/* start state */
	.mfp-with-anim {
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		transition: opacity 0.3s;
		opacity: 0;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: scale(1);
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: scale(0.8);
			opacity: 0;
		}

		&.mfp-bg {
			transition: all 0.3s 0.5s;
			opacity: 0;
		}
	}
}
/********** move-horizontal **********/
.mfp-move-horizontal {
	/* start state */
	.mfp-with-anim {
		transition: all 0.3s ease-in-out;
		transform: translateX(-50px);
		opacity: 0;
	}

	&.mfp-bg {
		transition: all 0.3s;
		opacity: 0;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: translateX(0px);
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: translateX(50px);
			opacity: 0;
		}

		&.mfp-bg {
			transition: all 0.2s 0.5s;
			opacity: 0;
		}
	}
}
/********** move-from-top **********/
.mfp-move-from-top {
	.mfp-content {
		vertical-align: top;
	}
	/* start state */
	.mfp-with-anim {
		transition: all 0.2s ease-in-out;
		transform: translateY(-100px);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.2s;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: translateY(0);
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: translateY(-50px);
			opacity: 0;
		}

		&.mfp-bg {
			transition: all 0.2s 0.5s;
			opacity: 0;
		}
	}
}
/********** 3d-unfold **********/
.mfp-3d-unfold {
	.mfp-content {
		perspective: 2000px;
	}
	/* start state */
	.mfp-with-anim {
		transform-style: preserve-3d;
		transition: all 0.3s ease-in-out;
		transform: rotateY(-60deg);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.5s;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: rotateY(0deg);
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: rotateY(60deg);
			opacity: 0;
		}

		&.mfp-bg {
			transition: all 0.5s 0.5s;
			opacity: 0;
		}
	}
}
/********** zoom-out **********/
.mfp-zoom-out {
	/* start state */
	.mfp-with-anim {
		transition: all 0.3s ease-in-out;
		transform: scale(1.3);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: scale(1);
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		&.mfp-bg {
			transition: all 0.3s 0.5s;
			opacity: 0;
		}
	}
}
/********** slide-bottom **********/
.mfp-slide-bottom {
	/* start state */
	.mfp-with-anim {
		transition: all 0.2s ease-in-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
		opacity: 0;
	}

	&.mfp-bg {
		transition: all 0.3s;
		opacity: 0;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: translateY(0) perspective(600px) rotateX(0);
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: translateY(-10px) perspective(600px) rotateX(10deg);
			opacity: 0;
		}

		&.mfp-bg {
			transition: all 0.3s 0.5s;
			opacity: 0;
		}
	}
}
/******************************
OVERRIDE MFP
******************************/
.mfp-wrap {
	-webkit-overflow-scrolling: touch;
}
