/************************* INCLUDE ****************************/
@import "include";

$common__maxWidth : 1680px;

/******************************
Index
******************************/
.indexBanner
{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  .slick-dots
  {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 20px;
	  padding: 0;
  }

  ul.slick-dots
  {
    li
    {
  		width: 8px;
  		height: 8px;
  		border: 1px solid $colorWhite;
  		border-radius: 4px;
      transition: all 0.25s;

      &:hover
      {
        background-color: $colorWhite;
      }

  		&.slick-active
  		{
  			background-color: $colorWhite;
  		}
    }
  }

  .desktop &,
  .tablet &
  {
    height: 550px;

    .indexBanner__innerWrapper
    {
      .indexBanner__item
      {
        height: 550px;
      }
    }
  }

  .mobile &
  {
    height: 220px;

    .indexBanner__innerWrapper
    {
      .indexBanner__item
      {
        height: 220px;
      }
    }
  }

  .indexBanner__innerWrapper
  {
    position: relative;

    .indexBanner__item
    {
      position: relative;
      width: 100%;
      outline: 0;

      .indexBanner__innerItem
      {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
      }

      .indexBanner__innerItem[data-type="1"]
      {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

    }
  }
}

/******************************
Common
******************************/
.commonBanner
{
  position: relative;
  display: block;
  width: 100%;

  .desktop &
  {
    height: 275px;
  }

  .tablet &
  {
    height: 275px;
  }

  .mobile &
  {
    height: 140px;
  }

  .commonBanner__content
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

}

/******************************
about
******************************/
.aboutBanner
{
  position: relative;
  display: block;
  width: 100%;
  background-color: $colorWhite;

  .aboutBanner__column
  {
    min-height: 560px;
  }

  .aboutBanner__content
  {
    position: relative;
    padding: 140px 0px 0px;
    text-align: right;

    .aboutBanner__titleWrapper
    {
      position: absolute;
      display: block;
      width: 100px;
      height: 100%;
      bottom: 0px;
      left: 0px;
      text-align: center;

      .aboutBanner__titleWrapper__stroke
      {
        position: absolute;
        display: block;
        width: 1px;
        left: 50%;
        top: 0px;
        height: 100%;
        background-color: $colorGolden1;
      }

      h2.aboutBanner__titleWrapper__title
      {
        position: absolute;
        margin: 0px;
        left: 50%;
        bottom: 0px;
        margin-left: -15px;
        writing-mode: vertical-rl;
        padding: 20px 0px;
        background-color: $colorWhite;
        color: $colorGolden1;

        .desktop &
        {
          letter-spacing: 0.5em;
        }
      }
    }

    .aboutBanner__messageWrapper
    {
      position: absolute;
      display: block;
      width: 75%;
      height: 100%;
      text-align: left;

      [class*="aboutBanner__message"]
      {
        position: absolute;
        bottom: 0px;

        p
        {
          color: $colorGrey;
        }

      }
    }
  }
}

.aboutBanner__menuWrapper
{
  position: absolute;
  width: 100%;
  //top: 275px;
  top: 445px;
  right: 0px;
  text-align: left;

  &.fixed
  {
    position: fixed;
    z-index: 1;
    top: 0px;
  }
}

.about__row__logo
{
  position: relative;
  width: 100%;

  .desktop &
  {
    .about__row__logobar
    {
      height: 230px;
    }

    .logoBar__logo
    {
      width: 160px;
      margin-left: 35px;
    }
  }

  .tablet &
  {
    .about__row__logobar
    {
      height: 180px;
    }

    .logoBar__logo
    {
      width: 100px;
      margin-left: 30px;
    }
  }

  .mobile &
  {
    .about__row__logobar
    {
      height: 100px;
    }

    .logoBar__logo
    {
      width: 70px;
      margin-left: 0px;
    }
  }

  .about__row__logobar
  {
    position: relative;
    text-align: center;

    .logoBar__logo
    {
      position: relative;
      @include inlineBlock;
      vertical-align: middle;
    }

  }

}

.about__row__content
{

  .desktop &,
  .tablet &
  {
    padding-bottom: 200px;
  }

  .mobile &
  {
    padding-bottom: 50px;
  }



  .aboutBanner__menuWrapper
  {
    position: relative;
    top: -100px;
  }
}

.aboutBanner__menuWrapper__btnMenu
{
  position: relative;
  display: block;
  margin-bottom: 30px;

  .text
  {
    position: relative;
    @include inlineBlock;
    padding: 15px 15px 15px 0px;
    color: $colorLightGrey1;
    transition: all 0.25s;

    &.selected,
    &:hover
    {
      color: $colorGrey;
    }

  }
}

[class*="about__message__wrapper"]
{
  position: relative;
  width: 100%;
  overflow: hidden;

  .desktop &
  {
    margin-bottom: 30px;

    .about__message
    {
      padding-right: 130px;
    }
  }

  .tablet &
  {
    margin-bottom: 30px;

    .about__message
    {
      padding-right: 10px;
    }
  }


  .mobile &
  {
    margin-bottom: 0px;

    .about__message
    {
      padding: 0px 60px 0px 60px;
    }
  }

  .about__message
  {
    position: relative;
    box-sizing: border-box;

    p
    {
      color: $colorDarkGrey1;
      text-align: justify;

      &:first-child
      {
        margin-top: 0px;
      }
    }
  }

  .about__title
  {
    position: relative;

    .mobile &
    {
      display: block;
      text-align: center;
      padding: 20px 0px;
    }
  }

  h2.about__title__title
  {
    position: relative;
    margin: 0px;
    color: $colorGolden1;

    .mobile &
    {
      margin: 0px auto;
    }

    .desktop &,
    .tablet &
    {
      writing-mode: vertical-rl;
      padding: 60px 0px 0px;
      letter-spacing: 0.5em;

      &::before
      {
        content: "";
        position: absolute;
        width: 1px;
        height: 40px;
        left: 50%;
        top: 0px;
        background-color: $colorGolden1;
      }

    }
  }
}


/******************************
services
******************************/
.gridBox__item
{
  .sliderItem
  {
    text-align: center;
    color: $colorWhite;

    &.logoItem
    {
      background-color: $colorRed1;

      path, polygon, rect, ellipse
      {
        fill : $colorWhite;
      }
    }

    .slider__abs
    {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;

      .slider__text
      {
        position: relative;
        @include inlineBlock;
        vertical-align: middle;
        @include textStyle(h2);
        text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.8);
      }
    }
  }

  .inner__logo
  {
    position: relative;
    @include inlineBlock;
    vertical-align: middle;
    width: 30%;
  }

  .sliderItem
  {
    .slider__abs
    {
      .desktop &,
      .tablet &
      {
        border: 0px solid $colorLightRed1;
      }

      .mobile &
      {
        border: 0px solid $colorGolden1;
      }

      transition: all 0.25s;
    }

    &.selected
    {
      .slider__abs
      {
        .desktop &,
        .tablet &
        {
          border: 10px solid $colorLightRed1;
        }

        .mobile &
        {
          border: 10px solid $colorGolden1;
        }
      }
    }
  }

  &:nth-child(even)
  {
    .m__extra__block
    {
      right: 100%;
    }
  }

  &:nth-child(odd)
  {
    .m__extra__block
    {
      left: 100%;
    }
  }

  .m__extra__block
  {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: $colorGolden1;
    top: 0px;
    text-align: center;
    overflow: hidden;

    h3
    {
      color: $colorWhite;
      margin: 0px;
      margin-bottom: 40px;
    }

    .ani
    {
      position: relative;
      display: block;
    }

  }

}

.gridBox__row--expandSlider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: $colorGolden1;
  height: 0;
  overflow: hidden;

  .gridBox__row--expandSlider__inner
  {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    text-align: left;
    padding: 100px 160px;
  }

  .gridBox__row--expandSlider__bg
  {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    right: 0px;
    top: 0px;
    min-width: 640px;

    .inner
    {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      // background-size: cover;
      background-size: 640px auto;
      background-repeat: no-repeat;
      background-position: right top;
    }

  }

  .gridBox__row--expandSlider__content
  {
    position: relative;
    display: block;
    width: 440px;
    text-align: center;
    text-align: center;

    h2, p
    {
      color: $colorWhite;
      margin: 0px;
    }

    h2
    {
      margin-bottom: 35px;
    }

    p
    {
      margin-bottom: 35px;
    }

  }
}

/******************************
tips
******************************/
.tips
{
  .tips__wrapper
  {
    position: relative;
    width: 100%;

    .desktop &,
    .tablet &
    {
      .tips__items
      {
        padding: 50px 100px
      }

      .tips__items__message
      {
        width: 50%;
      }
    }

    .mobile &
    {
      .tips__items
      {
        padding: 25px 50px
      }

      .tips__items__message
      {
        width: 100%;
      }
    }

    .tips__items
    {
      position: relative;
      box-sizing: border-box;
      width: 100%;


      .mobile &
      {
        .tips__items__title
        {
          position: relative;
          @include inlineBlock;
          vertical-align: top;
          width: 20%;
        }

        .tips__items__innerMessage
        {
          position: relative;
          @include inlineBlock;
          vertical-align: top;
          width: 80%;
        }

        h2
        {
          writing-mode: vertical-rl;
          margin: 0px;
          box-sizing: border-box;
        }

        p
        {
          margin: 0px
        }

      }

      &:nth-child(even)
      {
        .tips__items__svg
        {
          float: right;
        }

        .tips__items__messageWrapper
        {
          float: left;
        }
      }

      &:nth-child(odd)
      {
        .tips__items__svg
        {
          float: left;
        }

        .tips__items__messageWrapper
        {
          float: right;
        }
      }

    }

    .tips__items[data-color="golden"]
    {
      background-color: $colorGolden1;

      h2, p
      {
        color: $colorWhite;
      }
    }

    .tips__items[data-color="lightpink"]
    {
      background-color: $colorLightRed1;

      h2, p
      {
        color: $colorDarkGrey1;
      }
    }

    .tips__items[data-color="red"]
    {
      background-color: $colorRed1;

      h2, p
      {
        color: $colorWhite;
      }
    }

    .tips__items[data-color="white"]
    {
      background-color: $colorWhite;

      h2, p
      {
        color: $colorDarkGrey1;
      }
    }

    .tips__items__inner
    {
      position: relative;
      max-width: 1280px;
      margin: 0px auto;
    }

    .tips__items__svg
    {
      position: relative;
    }

    .tips__items__messageWrapper
    {
      position: relative;

      .tips__items__message
      {
        position: relative;
        margin: 0px auto;
      }
    }
  }
}


/******************************
traditional-ceremony
******************************/
$ceremony__slider__boxWidth : 200;
$ceremony__slider__boxWidth--m : 160;

@mixin ceremony__slider__padding()
{
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
  max-width: $common__maxWidth;

  .desktop &
  {
    padding: 0px 100px;
  }

  .tablet &
  {
    padding: 0px 50px;
  }

  .mobile &
  {
    padding: 0px 20px;
  }
}

@keyframes dotAnimate
{
  16.65% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  33.3% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  49.95% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  66.6% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  83.25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.dotAnimate
{
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.ceremony__wrapper
{
  .ceremony__headerBar
  {
    position: relative;
    width: 100%;
    background-color: $colorRed1;

    .ceremony__headerBar__inner
    {
      .desktop &
      {
        padding: 50px 200px;
      }

      .tablet &
      {
        padding: 25px 100px;
      }

      .mobile &
      {
        padding: 20px 40px 40px;
      }

      .mobile &
      {
        .m__wrapper--100
        {
          position: relative;
          display: block;
          width: 100%;
        }

        .ceremony__headerBar__title
        {
          position: relative;
          @include inlineBlock;
          vertical-align: top;
          width: 20%;
        }

        .ceremony__headerBar__message
        {
          position: relative;
          @include inlineBlock;
          vertical-align: top;
          width: 80%;
        }

        h2
        {
          writing-mode: vertical-rl;
          margin: 0px;
          box-sizing: border-box;
        }

        p
        {
          margin-top: 0px;
        }

      }
    }

    .ceremony__headerBar__inner
    {
      position: relative;
      display: block;
      box-sizing: border-box;
      max-width: $common__maxWidth;
      margin: 0px auto;
    }

    .ceremony__headerBar__title
    {
      h2
      {
        color: $colorWhite;
      }
    }

    .ceremony__headerBar__message
    {
      p
      {
        color: $colorWhite;
      }
    }

  }
}

.ceremony__slider__wrapper
{
  position: relative;
  width: 100%;

  .ceremony__slider__tab__Wrapper
  {
    position: relative;
    width: 100%;
    padding-top: 20px;
    text-align: center;

    .mobile &
    {
      box-sizing: border-box;
      padding: 20px 20px 0px;

      .btn__tabIcon
      {
        width: 50%;
        height: 50px;
      }
    }

    .btn__tabIcon
    {
      position: relative;
      @include inlineBlock;
      box-sizing: border-box;
      vertical-align: top;
      width: 360px;
      height: 65px;
      background-color: $colorWhite;
      border: 1px solid $colorLightRed1;
      border-bottom: 0px;

      transition: all 0.25s;
      box-shadow: inset 0 -20px 20px -20px rgba(176,17,65,0);

      .btn__tabIcon__text
      {
        position: relative;
        @include inlineBlock;
        vertical-align: middle;
        color: $colorLightRed1;
        transition: all 0.25s;
        @include textStyle(h2);
        line-height: 1em !important;

        .mobile &
        {
          font-size: 20px;
        }

      }

      &:hover
      {
        box-shadow: inset 0 -20px 20px -20px rgba(176,17,65,0.2);
        background-color: $colorLightRed1;

        .btn__tabIcon__text
        {
          color: $colorRed1;
        }
      }

      &.selected
      {
        background-color: $colorLightRed1;
        border: 1px solid $colorRed1;
        border-bottom: 0px;
        box-shadow: inset 0 -20px 20px -20px rgba(176,17,65,0);
        cursor: default;

        .btn__tabIcon__text
        {
          color: $colorRed1;
        }
      }

    }

  }

  .ceremony__slider__content__Wrapper
  {
    position: relative;
    width: 100%;
  }

  .ceremony__slider__section
  {
    position: relative;
    width: 100%;

    &.ceremony__slider__section--0
    {
      .desktop &,
      .tablet &
      {
        .stroke--header
        {
          top: 200px;
        }
      }

      .mobile &
      {
        .stroke--header
        {
          top: 150px;
        }
      }
    }
  }

  .ceremony__slider__section[data-color="pink"]
  {
    .ceremony__slider__displayItem__wrapper
    {
      background-color: $colorLightRed1;
    }

    .ceremony__slider__stroke,
    .ceremony__slider__dot
    {
      background-color: $colorRed1;
    }

    .ceremony__slider__title__wrapper
    {
      .ceremony__slider__title
      {
        color: $colorRed1;
      }
    }

  }

  .ceremony__slider__section[data-color="golden"]
  {
    .ceremony__slider__displayItem__wrapper
    {
      background-color: $colorLightGolden1;
    }

    .ceremony__slider__stroke,
    .ceremony__slider__dot
    {
      background-color: $colorGolden1;
    }

    .ceremony__slider__title__wrapper
    {
      .ceremony__slider__title
      {
        color: $colorGolden1;
      }
    }
  }

  .ceremony__slider__dot
  {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: -5px;
    border-radius: 50%;

    .desktop &,
    .tablet &
    {
      left: -35px;
    }

    .mobile &
    {
      left: 55px;
    }

  }

  .ceremony__slider__stroke
  {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;

    .desktop &,
    .tablet &
    {
      left: $ceremony__slider__boxWidth/2+px;
    }

    .mobile &
    {
      left: $ceremony__slider__boxWidth--m/2+px;
    }

  }

  .ceremony__slider__displayItem__wrapper
  {
    position: relative;
    display: block;
    box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0);
    transition: all 1s;

    .ceremony__slider__displayItem__inner
    {
      @include ceremony__slider__padding();
    }

    .ceremony__slider__leadin
    {
      position: absolute;
      display: block;

      .desktop &,
      .tablet &
      {
        top: 50px;
        left: 200px;
        right: 100px;
      }

      .mobile &
      {
        top: 25px;
        left: 20px;
        right: 20px;
      }

      p:first-child
      {
        margin-top: 0px;
      }

      p:last-child
      {
        margin-bottom: 0px;
      }

      p
      {
        color: $colorRed1;
      }
    }

    .desktop &,
    .tablet &
    {
      .ceremony__slider__title__wrapper
      {
        padding-top: 200px;
      }
    }

    .mobile &
    {
      .ceremony__slider__title__wrapper
      {
        padding-top: 150px;
      }
    }

    .ceremony__slider__title__wrapper
    {
      position: relative;
      display: block;
      box-sizing: border-box;

      .desktop &,
      .tablet &
      {
        width: $ceremony__slider__boxWidth+px;

        .ceremony__slider__title
        {
          left: 50%;
          margin-left: 30px;
          padding: 20px 0px 35px;
        }
      }

      .mobile &
      {
        width: $ceremony__slider__boxWidth--m+px;

        .ceremony__slider__title
        {
          left: 0%;
          margin-left: 20px;
          padding: 10px 0px 80px;
        }
      }

      .ceremony__slider__title
      {
        position: relative;
        display: block;
        box-sizing: border-box;
        margin: 0px;
        bottom: 0px;
        writing-mode: vertical-rl;
        color: $colorGolden1;
        white-space: nowrap;
        @include textStyle(h2);

        .desktop &
        {
          letter-spacing: 0.5em;
        }
      }
    }



    &:hover
    {
      .desktop &
      {
        .ceremony__slider__dot
        {
          animation-name: dotAnimate;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }

        box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.5);

      }
    }

    &.selected
    {
      box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.5);
    }
  }

  .ceremony__slider__showHideItem__wrapper
  {
    position: relative;
    height: 0px;
    overflow: hidden;

    // background-repeat: no-repeat;
    // background-size: 100% auto;
    // background-position: top right;
    //background: 100% auto no-repeat fixed;

    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-attachment:fixed;

    .ceremony__slider__showHideItem__content
    {
      position: relative;
      width: 100%;

      .desktop &,
      .tablet &
      {
        padding: 100px 0px 120px;
      }

      .mobile &
      {
        padding: 50px 0px 60px;
      }

      .ceremony__slider__sliderItem:last-child
      {
        margin-bottom: 0px;
      }
    }

    .ceremony__slider__showHideItem__inner
    {
      @include ceremony__slider__padding();
    }

    .ceremony__slider__sliderItem
    {
      position: relative;
      display: block;
      width: 100%;
      min-height: 60px;

      .desktop &
      {
        margin-bottom: 115px;
      }

      .tablet &
      {
        margin-bottom: 115px;
      }

      .mobile &
      {
        margin-bottom: 50px;
      }

      &.selected
      {
        .ceremony__slider__sliderItem__title
        {
          background-color: $colorRed1Lighten;

          &::after
          {
            border-color: $colorRed1Lighten transparent transparent transparent;
          }
        }

        .ceremony__slider__sliderIco
        {
          background-color: $colorRed1Lighten;

          .ceremony__slider__sliderIco__arrow
          {
            transform: rotate(180deg);
          }
        }
      }

      .ceremony__slider__sliderItem__title
      {
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        background-color: $colorRed1;
        text-align: center;
        transition: all 0.25s;

        .desktop &,
        .tablet &
        {
          height: 60px;
          padding: 0px 20px;
          width: $ceremony__slider__boxWidth+px;
        }

        .mobile &
        {
          height: 50px;
          padding: 0px 10px;
          width: $ceremony__slider__boxWidth--m+px;
        }

        &::after
        {
          content:"";
          position: absolute;
          bottom: -15px;
          left: 50%;
          margin-left: -35px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 35px 0 35px;
          border-color: $colorRed1 transparent transparent transparent;
          transition: all 0.25s;
        }

        &:hover
        {
          background-color: $colorRed1Lighten;

          &::after
          {
            border-color: $colorRed1Lighten transparent transparent transparent;
          }
        }

        .text
        {
          color: $colorWhite;

          span
          {
            position: relative;
            display: block;
            font-size: 80%;
          }
        }
      }

      .desktop &,
      .tablet &
      {
        .ceremony__slider__sliderItem__message
        {
          padding: 15px 0px 0px 0px;
          margin-left: 220px;
        }

        .ceremony__slider__sliderIco
        {
          width: 30px;
          height: 30px;
          margin-bottom: 15px;
        }
      }

      .mobile &
      {
        .ceremony__slider__sliderItem__message
        {
          padding: 15px 0px 0px 0px;
          margin-left: 170px;
        }

        .ceremony__slider__sliderIco
        {
          width: 20px;
          height: 20px;
          margin-bottom: 15px;
        }
      }

      .ceremony__slider__sliderItem__message
      {
        position: relative;
        font-size: 0;
        line-height: 0;
      }

      .ceremony__slider__sliderIco
      {
        position: relative;
        @include inlineBlock;
        background-color: $colorRed1;
        transition : all 0.25s;

        .ceremony__slider__sliderIco__arrow
        {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          background-image: url('../images/common/list-down-arrow.svg');
          background-size: 100% auto;
          transition : all 0.25s;
        }
      }

      .ceremony__slider__sliderList
      {
        position: relative;
        width: 100%;
        max-width: 680px;
        overflow: hidden;
        height: 0px;

        .ceremony__slider__sliderList__inner
        {
          position: relative;
          display: block;
        }
      }

      .desktop &
      {
        width: 50%;
      }

      .tablet &,
      .mobile &
      {
        width: 100%;
      }

      .ceremony__slider__sliderList__inner>ul
      {
        @include inlineBlock;
        vertical-align: top;

        box-sizing: border-box;
        padding-right: 5%;
      }

      .ceremony__slider__sliderList__inner ul
      {
        position: relative;

        .desktop &
        {
          padding-left: 0px;
        }

        .tablet &
        {
          padding-left: 0px;
        }

        .mobile &
        {
          padding-left: 0px;
        }
      }

      .ceremony__slider__sliderList li
      {
        padding:0.2em 0 0.5em 2em;
        list-style:none;
        background-repeat:no-repeat;
        @include textStyle(p);
      }

      .ceremony__slider__sliderList li[data-type="tri"]
      {
        background-image: url('../images/common/list-arrow.svg');
        background-position: 0px 10px;
        background-size: 20px 20px;

        .mobile &
        {
          background-size: 15px 15px;
        }
      }

      .ceremony__slider__sliderList li[data-type="dot"]
      {
        background-image: url('../images/common/list-circle.svg');
        background-position: 0px 10px;
        background-size: 20px 20px;

        .mobile &
        {
          background-size: 15px 15px;
        }
      }
    }
  }
}

/******************************
calendar
******************************/
.calendar
{
  .calendar__wrapper
  {
    position: relative;
    width: 100%;
    background-color: #EEE;
  }

  .calendar__outerWrapper
  {
    position: relative;
    width: 100%;
    display: block;
    max-width: $common__maxWidth;
    margin: 0px auto;
  }

  .calendar__display__month
  {
    position: relative;
    box-sizing: border-box;
    max-width: $common__maxWidth;
    width: 100%;
    margin: 0px auto;

    .desktop &
    {
      padding: 5% 6.7%;
    }

    .tablet &
    {
      padding: 5% 5%;
    }

    .mobile &
    {
      padding: 5% 5%;

      h2
      {
        font-size: 18px !important;
      }

    }



    [class*="btn__month"]
    {
      position: relative;
      @include inlineBlock;
      vertical-align: middle;
      box-sizing: border-box;

      .stroke
      {
        position: absolute;
				display: block;
				box-sizing: border-box;

				border-right: 2px solid $colorRed1;
		    border-bottom: 2px solid $colorRed1;
				top: 50%;
				left: 50%;
				transform-origin: 50% 50%;
      }

      .desktop &,
      .tablet &
      {
        width: 50px;
        height: 50px;

        .stroke
        {
          width: 20px;
  				height: 20px;
          margin-top: -10px;
        }

      }

      .mobile &
      {
        width: 30px;
        height: 30px;

        .stroke
        {
          width: 10px;
  				height: 10px;
          margin-top: -5px;
        }
      }

      &[class*="prev"]
			{
				left: -10px;
				.stroke
				{
					transform: rotate(135deg);
					margin-left: 5px;
				}
			}

			&[class*="next"]
			{
				right: -10px;
				.stroke
				{
					transform: rotate(-45deg);
					margin-left: -25px;
				}
			}
    }

    h2
    {
      position: relative;
      @include inlineBlock;
      vertical-align: middle;
      margin: 0px 10px;
      color: $colorRed1;
    }

  }


  .calendar__main
  {
    position: relative;

    .desktop &
    {
      .calendar__main__inner
      {
        padding: 0px 100px 0px 60px;
      }
    }

    .tablet &
    {
      .calendar__main__inner
      {
        padding: 0px 50px 0px 30px;
      }
    }

    .calendar__main__inner
    {
      position: relative;
      box-sizing: border-box;
    }

    .calendar__display
    {
      position: relative;
      width: 100%;
    }

    [class*="calendar__display__calendar"]
    {
      position: relative;
      width: 100%;

      .mobile &
      {
        box-sizing: border-box;
        padding: 0px 20px;
      }


      /*** common ***/

      .c__column
      {
        .c__digi
        {
          fill: $colorBlack;
          transition: all 0.25s;
        }
      }

      .c__column[data-week="sun"]
      {
        .c__column__inner
        {
          color: $colorRed1;
        }

        .c__digi
        {
          fill: $colorRed1;
        }
      }

      .c__column
      {
        position: relative;
        @include inlineBlock;
        vertical-align: top;
        width:(100% / 7);
        text-align: center;
        line-height: 1em !important;
        box-sizing: border-box;

        &[data-date="null"]
        {
          .text--date
          {
            cursor: default;
          }
        }

        /* hover status*/

        &[data-date]:not([data-date="null"])
        {
          .c__column__inner
          {
            .text--date:hover
            {
              background-color: $colorGrey;

              .c__digi
              {
                fill: $colorWhite;
              }
            }
          }
        }

        &.selected
        {
          .c__column__inner
          {
            .text--date
            {
              background-color: $colorRed1 !important;

              .c__digi
              {
                fill: $colorWhite;
              }
            }
          }
        }

        .c__column__inner
        {
          position: relative;
          display: block;
          box-sizing: border-box;
          @include textStyle(default);

          .desktop &,
          .tablet &
          {
            padding: 10% 30%;
          }

          .mobile &
          {
            padding: 5% 15%;
          }

          .text--date
          {
            position: relative;
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            transition: all 0.25s;

            .text--date--inner
            {
              position: absolute;
              display: block;
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
            }

          }

          .text--date,
          .text--lunar
          {
            position: relative;
            display: block;
            margin: 0px auto;
            width: 100%;
          }

          &::after
          {
            content: "";
            position: absolute;
            display: block;
            top: 0px;
            left: 0px;
            right: -1px;
            bottom: -1px;
            border: 1px solid $colorBlack;
          }
        }
      }

      &[class*="--noBorder"]
      {
        .c__column
        {
          .c__column__inner
          {
            &::after
            {
              content: "";
              display: none;
            }
          }
        }
      }

      /*** week ***/
      .calendar__display__weekWrapper
      {
        position: relative;
        width: 100%;
        font-size: 0px;
      }

      /*** date ***/
      .calendar__display__dateWrapper
      {
        position: relative;
        width: 100%;
      }

    }

  }

  .calendar__main__content
  {
    position: relative;
    box-sizing: border-box;
    background-color: $colorRed1;

    .desktop &,
    .tablet &
    {
      padding: 2%;
    }

    .mobile &
    {
      padding: 20px;
    }

    h3, p
    {
      color: $colorWhite;
      margin: 0px;
    }

    .desktop &
    {
      .lunar__header__wrapper,
      .lunar__header__details
      {
        height: 80px;
      }

      .lunar__header__svg
      {
        width: 80px;
        height: 80px;
      }

      .lunar__header__details
      {
        padding-left: 100px;
      }

      .lunar__prosCons__svg
      {
        width: 50px;
        height: 50px;
        left: 15px;
      }

      .lunar__prosCons__message
      {
        padding-left: 100px;
      }

    }

    .tablet &
    {
      .lunar__header__wrapper,
      .lunar__header__details
      {
        height: 60px;
      }

      .lunar__header__svg
      {
        width: 60px;
        height: 60px;
      }

      .lunar__header__details
      {
        padding-left: 70px;
      }

      .lunar__prosCons__svg
      {
        width: 40px;
        height: 40px;
        left: 10px;
      }

      .lunar__prosCons__message
      {
        padding-left: 70px;
      }
    }

    .mobile &
    {
      .lunar__header__wrapper,
      .lunar__header__details
      {
        height: 60px;
        margin-bottom: 20px;
      }

      .lunar__header__svg
      {
        width: 60px;
        height: 60px;
      }

      .lunar__header__details
      {
        padding-left: 70px;
      }

      .lunar__prosCons__svg
      {
        width: 30px;
        height: 30px;
        left: 15px;
      }

      .lunar__prosCons__message
      {
        padding-left: 70px;
      }
    }

    .lunar__header__wrapper
    {
      position: relative;
      width: 100%;
      margin-bottom: 70px;
    }

    .lunar__header__date
    {
      position: absolute;
      display: block;
    }

    .lunar__header__details
    {
      position: relative;
      width: 100%;
      box-sizing: border-box;
    }

    .lunar__header__svg
    {
      position: relative;
      display: block;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid $colorWhite;

      .c__digi
      {
        fill: $colorWhite;
      }
    }

    [class*="lunar__prosCons__icons"]
    {
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
    }

    .lunar__prosCons__svg
    {
      position: relative;
      display: block;
      border-radius: 50%;
      border: 2px solid $colorWhite;

      .c__digi
      {
        fill: $colorWhite;
      }
    }

    .lunar__prosCons__message
    {
      position: relative;
    }

    [class*="lunar__prosCons--"]
    {
      position: relative;

      .desktop &,
      .tablet &
      {
        padding: 0px 0px 30px 0px;

        &[class*="--pros"]
        {
          margin-bottom: 30px;
        }
      }

      .mobile &
      {
        padding: 0px 0px 15px 0px;

        &[class*="--pros"]
        {
          margin-bottom: 15px;
        }
      }

      h3
      {
        margin-bottom: 10px;
      }

      p
      {
        line-height: 1.5em !important;
      }

      &[class*="--pros"]
      {
        border-bottom: 1px solid $colorWhite;
      }
    }

  }

}

/******************************
about
******************************/
.gridBox--about
{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,188,198,1) 85%, rgba(177,74,91,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(85%, rgba(245,188,198,1)), color-stop(100%, rgba(177,74,91,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,188,198,1) 85%, rgba(177,74,91,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,188,198,1) 85%, rgba(177,74,91,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,188,198,1) 85%, rgba(177,74,91,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,188,198,1) 85%, rgba(177,74,91,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b14a5b', GradientType=0 );
}



/******************************
monthly-topic
******************************/
.monthlyTopic__wrapper
{
  position: relative;
  display: block;
  background-color: $colorGolden1;
}

.monthlyTopic__topic
{
  position: relative;
  display: block;
  width: 100%;

  .monthlyTopic__topic__banner
  {
      position: relative;
      width: 100%;
      height: 500px;

      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  }

  .monthlyTopic__topic__content
  {
    position: relative;

    .monthlyTopic__topic__messageWrapper
    {
      position: relative;
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 0px auto;
      max-width: $common__maxWidth;

      .desktop &,
      .tablet &
      {
        padding: 60px 0px;
      }

      .mobile &
      {
        padding: 40px;
      }

    }

    .monthlyTopic__topic__inner
    {
      position: relative;
      display: block;
      margin: 0px auto;

      .desktop &
      {
        width: 60%;
      }

      .tablet &
      {
        width: 80%;
      }

      .mobile &
      {
        width: 100%;
      }

    }

    .monthlyTopic__topic__leftContent
    {
      position: relative;
      display: block;
      box-sizing: border-box;

      .text
      {
        [class*="month"]
        {
          position: relative;
          display: block;
          color: $colorWhite;
          @include textStyle(h2);
          letter-spacing: 0em !important;
          padding: 5px 0px;

          .mobile &
          {
            padding: 0px;
            font-size: 14px;
          }

          &[class*="_c"]
          {
            @include textStyle(default);
            padding: 0px;

            .mobile &
            {
              padding: 0px;
              font-size: 8px;
            }
          }
        }
      }

      .desktop &,
      .tablet &
      {
        width: 66.6666667%;
        padding-right: 120px;

        .monthlyTopic__titleWrapper
        {
          position: relative;
          min-height: 90px;
        }

        .monthlyTopic__mainTitle
        {
          position: relative;
          padding-left: 150px;
          color: $colorWhite;
          margin: 0px;
          height: 90px;
          margin-bottom: 40px;

          h2.title
          {
            position: relative;
            @include inlineBlock;
            vertical-align: bottom;
            margin: 0px;
            width: 100%;
          }
        }

        .monthlyTopic__monthIco
        {
          position: absolute;;
          display: block;
          box-sizing: border-box;
          width: 90px;
          height: 90px;
          border: 1px solid $colorWhite;
          text-align: center;
          top: 0px;
          left: 0px;

          .text
          {
            position: relative;
            @include inlineBlock;
            vertical-align: middle;
          }
        }
      }

      .mobile &
      {
        width: 100%;

        .monthlyTopic__titleWrapper
        {
          position: relative;
          margin-bottom: 20px;
        }

        .monthlyTopic__mHolder
        {
          position: relative;
          text-align: center;
          min-height: 40px;
          margin-bottom: 20px;
        }

        .monthlyTopic__mainTitle
        {
          position: relative;
          color: $colorWhite;
          text-align: center;
          h2
          {
            margin: 0px;
          }
        }

        .monthlyTopic__mobileImg
        {
          position: relative;
          @include inlineBlock;
          vertical-align: bottom;
          width: 135px;
          background-color: #000;
          margin: 0px 50px 0px 10px;
        }

        .monthlyTopic__monthIco
        {
          position: relative;;
          @include inlineBlock;
          vertical-align: bottom;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          border: 1px solid $colorWhite;
          text-align: center;
          top: 0px;
          left: 0px;

          .text
          {
            position: relative;
            @include inlineBlock;
            vertical-align: middle;
          }
        }
      }

      .monthlyTopic__messageWrapper
      {
        position: relative;

        p
        {
          color: $colorWhite;
        }

        p:first-child
        {
          margin-top: 0px;
        }

        p:last-child
        {
          margin-bottom: 0px;
        }
      }
    }

    .monthlyTopic__topic__rightPicker
    {
      .desktop &,
      .tablet &
      {
        position: absolute;
        width: 33.333333%;
        top: 0px;
        right: 0px;

        &::after
        {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          left: -60px;
          top: 0px;
          bottom: 5px;
          background-color: $colorWhite;
        }
      }

      .mobile &
      {
        position: relative;;
        width: 100%;
      }

      .monthlyTopic__topic__rightPicker__top
      {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px 5px;

        [class*="btn__"]
        {
          .stroke
          {
            position: absolute;
    				display: block;
    				box-sizing: border-box;

    				border-right: 1px solid $colorWhite;
    		    border-bottom: 1px solid $colorWhite;
    				top: 50%;
    				left: 50%;
    				transform-origin: 50% 50%;

            margin-top: -3px;

            width: 6px;
            height: 6px;
          }

          &[class*="prev"]
    			{
    				.stroke
    				{
    					transform: rotate(135deg);
              margin-left: -2px;
    				}
    			}

          &[class*="next"]
    			{
    				.stroke
    				{
    					transform: rotate(-45deg);
              margin-left: -4px;
    				}
    			}
        }



        //
  			// &[class*="next"]
  			// {
  			// 	right: -10px;
  			// 	.stroke
  			// 	{
  			// 		transform: rotate(-45deg);
  			// 		margin-left: -25px;
  			// 	}
  			// }

        .desktop &,
        .tablet &
        {
          [class*="btn__"]
          {
            position: absolute;
            box-sizing: border-box;
            display: block;
            width: 20px;
            height: 20px;
            top: 50%;
            margin-top: -10px;
            border: 1px solid $colorWhite;
            border-radius: 50%;

            &[class*="prev"]
            {
              right: 35px;
            }

            &[class*="next"]
            {
              right: 5px;
            }

          }
        }

        .mobile &
        {
          height: 30px;
          text-align: center;

          [class*="btn__"]
          {
            position: relative;;
            @include inlineBlock;
            vertical-align: middle;
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            border: 1px solid $colorWhite;
            border-radius: 50%;
          }

          h3
          {
            position: relative;
            @include inlineBlock;
            vertical-align: middle;
            margin: 0px 10px;
          }
        }


        h3
        {
          margin: 0px;
          color: $colorWhite;
        }
      }

      .monthlyTopic__topic__rightPicker__month
      {
        position: relative;
        width: 100%;
        margin-bottom: 50px;

        .monthIco__item
        {
          position: relative;
          @include inlineBlock;
          vertical-align: top;
          width: 25%;
          box-sizing: border-box;
          padding: 5px;

          .btn__monthIco
          {
            position: relative;
            display: block;
            padding: 5px;
            text-align: center;

            border: 1px solid $colorWhite;
            color: $colorWhite;

            &.selected,
            &:hover
            {
              border: 1px solid $colorDarkGolden1;
              color: $colorDarkGolden1;
            }
          }
        }
      }

      h2.monthlyTopic__topic__rightPicker__pickerTitle
      {
        box-sizing: border-box;
        margin: 0px;
        color: $colorWhite;
        padding: 0px 5px;
      }

    }

  }
}

/******************************
news
******************************/
.news__wrapper
{
  position: relative;
  width: 100%;
  background-color: $colorWhite;

  .news__topicsWrapper
  {
    position: relative;
    display: block;
    margin: 0px auto;
    overflow: hidden;

    .desktop &
    {
      width: 60%;
    }

    .tablet &
    {
      width: 80%;
    }

    .mobile &
    {
      width: 100%;
    }
  }

  .news__item
  {
    position: relative;

    .news__item__message
    {
      position: relative;
      margin-bottom: 20px;
    }

    .btnWrapper
    {
      text-align: left;
      .btn__s1
      {
        text-align: center;
      }
    }
  }

  .itemAjaxWrapper
  {
    position: relative;

    .mobile &
    {
        box-sizing: border-box;
        padding: 0px 40px;
    }
  }

  .news__item__imgWrapper
  {
    display: block;
    overflow: hidden;

    .desktop &
    {
      position: absolute;
      width: 360px;
      height: 245px;

      img
      {
        transform: scale(1);
        transition: all 0.25s;
      }

      .dim
      {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: $colorBlack;
        opacity: 0;
        transition: all 0.5s;
      }

      &:hover
      {
        img
        {
          transform: scale(1.2);
        }

        .dim
        {
          opacity: 0.2;
        }
      }
    }

    .tablet &
    {
      position: absolute;
      width: 360px;
      height: 245px;
    }

    .mobile &
    {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .news__item__textWrapper
  {
    position: relative;
    display: block;

    .desktop &
    {
      margin-left: 420px;
      min-height: 240px;
      padding-bottom: 35px;
    }

    .tablet &
    {
      margin-left: 420px;
      min-height: 240px;
      padding-bottom: 35px;
    }

    .mobile &
    {
      box-sizing: border-box;
      padding: 0px 10px 35px;
    }

    h2, p
    {
      color: $colorDarkGrey1;
    }

    h2
    {
      margin: 0px;
      margin-bottom: 20px;
    }

    p:first-child
    {
      margin-top: 0px;
    }

    p:last-child
    {
      margin-bottom: 0px;
    }

  }

  .news__shareWrapper
  {
    position: relative;
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 35px;

    &:after
    {
      content: "";
      position: absolute;
      bottom: 0px;
      height: 1px;
      background-color: $colorLightGrey2;
      left: 0px;
      right: 200px;
    }

    .mobile &
    {
      margin-bottom: 20px;

      &:after
      {
        right: 0px;
        bottom: -20px;
      }
    }

    .news__share__ico
    {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: $colorRed1;
      top: 0px;
      right: 0px;
      background-image: url('../images/common/icon_share.svg');
      background-size: 100% auto;
    }
  }

  .loadMoreWrapper
  {
    position: relative;
    display: block;
    padding: 50px;

    .loadMore
    {
      position: relative;
      display: block;
      width: 50px;
      height: 30px;
      background-image: url('../images/news/icon_downArrow.svg');
      background-size: 100% auto;
      transition : all 0.25s;
      margin: 0px auto;
      animation: bounce 2s infinite;
    }

  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}

/******************************
newsArticles
******************************/
.newsArticles__wrapper
{
  position: relative;
  width: 100%;

  .newsArticles__topicsWrapper
  {
    background-color: $colorWhite;
  }

  .newsArticles__item
  {
    position: relative;
    display: block;
    padding-top: 20px;
    padding-bottom: 60px;
    margin: 0px auto;

    .desktop &
    {
      width: 60%;
    }

    .tablet &
    {
      width: 80%;
    }

    .mobile &
    {
      width: 100%;
    }

    .btnWrapper
    {
      text-align: left;

      .btn__s1
      {
        text-align: center;
      }

    }

  }

  .newsArticles__item__imgWrapper
  {
    position: relative;
    margin-bottom: 70px;
  }

  .newsArticles__item__message
  {
    position: relative;
    margin-bottom: 20px;
  }

  .newsArticles__item__textWrapper
  {
    position: relative;
    display: block;

    h2, p
    {
      color: $colorDarkGrey1;
    }

    h2
    {
      margin: 0px;
      margin-bottom: 35px;
    }

    p:first-child
    {
      margin-top: 0px;
    }

    p:last-child
    {
      margin-bottom: 0px;
    }

  }

}


/******************************
promotionAd__wrapper
******************************/
.shareWrapper
{

}

/******************************
promotionAd__wrapper
******************************/
$promotionAd__height : 150;

.bottomAd
{
  &.fixedAdBanner
  {
    .promotionAd__wrapper
    {
      position: absolute;
    }
  }

  .contentWrapper
  {
    position: relative;
    padding-bottom: $promotionAd__height+px;
    background-color: $colorRed1;
  }

  .promotionAd__wrapper
  {
    position: fixed;
    display: block;
    width: 100%;
    height: $promotionAd__height+px;
    bottom: 0;
    background-color: #FC0;

    .promotionAd__inner
    {
      position: absolute;
      display: block;

      left: 50%;

      top: 0px;
      height: $promotionAd__height+px;

      .desktop &,
      .tablet &
      {
        width: 1680px;
        margin-left: -840px;
      }

      .mobile &
      {
        width: 320px;
        margin-left: -160px;
      }

    }
  }
}

/******************************
gallery
******************************/
.gallery
{
  .gridBox__abs
  {
    outline: 0;
  }
}

/******************************
tnc
******************************/
.tnc__item
{
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0px auto;

  .desktop &
  {
    width: 60%;
  }

  .tablet &
  {
    width: 80%;
  }

  .mobile &
  {
    width: 100%;
    box-sizing: border-box;
    padding:50px 40px 100px;
  }

  h2, p, li
  {
    color: $colorDarkGrey1;
  }

  h2
  {
    margin: 0px;
    margin-bottom: 35px;
  }

  p:first-child
  {
    margin-top: 0px;
  }

  p:last-child
  {
    margin-bottom: 0px;
  }

  li
  {
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 0.2em;
    line-height: 2.2em;
  }

}

/******************************
contact-us
******************************/
#map
{
  .desktop &,
  .tablet &
  {
    position: absolute;
    display: block;
    width: 100%;
    height: 760px;
    top: 0px;
    left: 0px;
  }

  .mobile &
  {
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
  }
}

.contact__information__wrapper,
.contact__form__wrapper
{
  .desktop &
  {
    padding: 30px 70px;
  }

  .tablet &
  {
    padding: 20px 40px;
  }

  .mobile &
  {
    padding: 20px 40px 40px;
  }

  .mobile &
  {
    .m__wrapper--100
    {
      position: relative;
      display: block;
      width: 100%;
    }

    .contact__items__title
    {
      position: relative;
      @include inlineBlock;
      vertical-align: top;
      width: 20%;
    }

    .contact__items__innerMessage
    {
      position: relative;
      @include inlineBlock;
      vertical-align: top;
      width: 80%;
    }

    h2
    {
      writing-mode: vertical-rl;
      margin: 0px;
      box-sizing: border-box;
    }
  }
}

.contact__information__wrapper
{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: $colorGolden1;
  overflow: hidden;

  .desktop &
  {
    height: 280px;
  }

  .tablet &
  {
    height: 280px;
  }

  .contact__information__list
  {
    position: relative;
    width: 100%;

    .contact__information__listItem
    {
      position: relative;
      width: 100%;
      height: 22px;
      margin-bottom: 15px;

      &:last-child
      {
        margin-bottom: 0px;
      }
    }

    .contact__information__icon
    {
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      background: $colorRed1;

      .text
      {
        position: relative;
        @include inlineBlock;
        vertical-align: middle;
        color: $colorWhite;
        line-height: 1em;
        letter-spacing: 0em !important;
      }
    }

    .contact__information__text
    {
      position: relative;
      @include inlineBlock;
      @include textStyle(default);
      height: 22px;
      padding: 2px 10px 2px 32px;
      color: $colorWhite;

      &:hover
      {
        text-decoration: underline;
      }
    }
  }

  h2, p
  {
    margin: 0px 0px 15px 0px;
    color: $colorWhite;
  }

  p
  {
    margin: 0px 0px 5px 0px;
  }
}

.contact__form__wrapper
{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: $colorRed1;
  overflow: hidden;

  .desktop &
  {
    height: 480px;
  }

  .tablet &
  {
    height: 480px;
  }

  .formRow
  {
    margin-bottom: 10px;

    ::-webkit-input-placeholder { letter-spacing: 0.2em; }
    ::-moz-placeholder { letter-spacing: 0.2em; }
    :-ms-input-placeholder { letter-spacing: 0.2em; }
    input:-moz-placeholder { letter-spacing: 0.2em; }


    input, textarea
    {
      @include textStyle(p);
      outline: 0;
      cursor: pointer;
      transition: all 0.5s;

      &:hover
      {
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      }

      &:active
      {
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
      }

    }

    textarea
    {
      padding: 10px;
      height: 80px;
    }

    &[class*="formRow__name"]
    {
      .formContent
      {
        padding-right: 120px;
      }

    }

    .salutationWrapper
    {
      position: absolute;;
      display: block;
      width: 110px;
      height: 40px;
      top: 0px;
      right: 0px;

      .btn_salutation
      {
        position: relative;
        @include inlineBlock;
        box-sizing: border-box;
        width: 50px;
        height: 40px;
        text-align: center;
        border: 1px solid transparent;
        margin-left: 10px;
        color: $colorRed2;
        transition: all 0.25s;

        &:hover,
        &.selected
        {
          border: 1px solid #FFF;
          color: $colorWhite;
        }

        &:first-child
        {
          margin-left: 0px;
        }

        .text
        {
          line-height: 1em !important;
        }
      }
    }
  }

  .mobile &
  {
    .btnWrapper
    {
      text-align: left;
    }
  }

  .btn__send
  {
    position: relative;
    @include inlineBlock;
    border: 1px solid $colorWhite;
    padding: 10px 40px;
    background-color: transparent;
    outline: 0;
    width: auto;
    transition: all 0.25s;
    cursor:pointer;

    .text
    {
      @include textStyle(button);
      color: $colorWhite;
    }

    &:hover
    {
      border: 1px solid $colorRed2;
      background-color: $colorRed2;
      color: $colorWhite;

    }

  }

  h2, p
  {
    margin: 0px 0px 15px 0px;
    color: $colorWhite;
  }
}
