{
    "module_name": "Gallery",
    "module_display": "\u5a5a\u4eab\u56cd\u6085",
    "show_edit_button": "1",
    "show_copy_button": "0",
    "show_import_button": "0",
    "show_export_button": "0",
    "show_rank_button": "1",
    "have_approval": "0",
    "listing_sort": "id asc",
    "language": [
        {
            "name": "en",
            "displayname": "\u82f1\u6587"
        },
        {
            "name": "tc",
            "displayname": "\u7e41\u4e2d"
        },
        {
            "name": "sc",
            "displayname": "\u7c21\u4e2d"
        }
    ],
    "field": [
        {
            "field_name": "id",
            "field_display": "ID",
            "multi_lang": "0",
            "show_in_listing": "1",
            "show_in_export": "1",
            "can_search": "0",
            "show_in_edit": "1",
            "can_edit": "0",
            "input_type": "text",
            "maxlength": "11",
            "mandatory": "1"
        },
        {
            "field_name": "rank",
            "field_display": "\u6392\u884c",
            "multi_lang": "0",
            "show_in_listing": "0",
            "show_in_export": "0",
            "can_search": "0",
            "show_in_edit": "0",
            "can_edit": "0",
            "input_type": "text",
            "maxlength": "100",
            "mandatory": "1"
        },
        {
            "field_name": "status",
            "field_display": "\u72c0\u614b",
            "multi_lang": "0",
            "show_in_listing": "1",
            "show_in_export": "1",
            "can_search": "0",
            "options": [
                {
                    "value": "1",
                    "displayname": "Active"
                },
                {
                    "value": "2",
                    "displayname": "Inactive"
                }
            ],
            "show_in_edit": "1",
            "can_edit": "1",
            "input_type": "dropdown",
            "maxlength": "100",
            "mandatory": "1"
        },
        {
            "field_name": "ip",
            "field_display": "IP",
            "multi_lang": "0",
            "show_in_listing": "0",
            "show_in_export": "0",
            "can_search": "0",
            "show_in_edit": "1",
            "can_edit": "0",
            "input_type": "text",
            "maxlength": "100",
            "mandatory": "0"
        },
        {
            "field_name": "createdate",
            "field_display": "\u5275\u5efa\u65e5\u671f",
            "multi_lang": "0",
            "show_in_listing": "0",
            "show_in_export": "1",
            "can_search": "0",
            "show_in_edit": "1",
            "can_edit": "0",
            "input_type": "datepicker",
            "maxlength": "100",
            "mandatory": "0"
        },
        {
            "field_name": "createby",
            "field_display": "\u5275\u5efa\u7528\u6237",
            "multi_lang": "0",
            "show_in_listing": "0",
            "show_in_export": "1",
            "can_search": "0",
            "show_in_edit": "1",
            "can_edit": "0",
            "input_type": "dropdown",
            "maxlength": "100",
            "mandatory": "0"
        },
        {
            "field_name": "updatedate",
            "field_display": "\u4fee\u6539\u65e5\u671f",
            "multi_lang": "0",
            "show_in_listing": "1",
            "show_in_export": "1",
            "can_search": "0",
            "show_in_edit": "1",
            "can_edit": "0",
            "input_type": "datepicker",
            "maxlength": "100",
            "mandatory": "0"
        },
        {
            "field_name": "updateby",
            "field_display": "\u4fee\u6539\u7528\u6237",
            "multi_lang": "0",
            "show_in_listing": "0",
            "show_in_export": "1",
            "can_search": "0",
            "show_in_edit": "1",
            "can_edit": "0",
            "input_type": "dropdown",
            "maxlength": "100",
            "mandatory": "0"
        },
        {
            "field_name": "thumb",
            "field_display": "\u76f8\u8584\u5c01\u9762 (400X400)",
            "multi_lang": "0",
            "show_in_listing": "1",
            "show_in_export": "1",
            "can_search": "1",
            "show_in_edit": "1",
            "can_edit": "1",
            "input_type": "image",
            "maxlength": "200",
            "mandatory": "1"
        },
        {
            "field_name": "image",
            "field_display": "\u76f8\u7247 (1000X600)",
            "multi_lang": "0",
            "show_in_listing": "0",
            "show_in_export": "1",
            "can_search": "1",
            "show_in_edit": "1",
            "can_edit": "1",
            "input_type": "image",
            "maxlength": "200",
            "mandatory": "1"
        }
    ]
}
