{
  "module_name": "Homebanner",
  "module_display": "橫額",
  "show_edit_button": 1,
  "show_copy_button": 0,
  "show_export_button": 0,
  "show_rank_button": 1,
  "have_approval": 0,
  "listing_sort": "id asc",
  "language": [
    {
      "name": "en",
      "displayname": "英文"
    },
    {
      "name": "tc",
      "displayname": "繁中"
    },
    {
      "name": "sc",
      "displayname": "簡中"
    }
  ],
  "field": [
    {
      "field_name": "id",
      "field_display": "ID",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 11,
      "mandatory": 1
    },
    {
      "field_name": "rank",
      "field_display": "排行",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [],
      "show_in_edit": 0,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "status",
      "field_display": "狀態",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "ip",
      "field_display": "IP",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createdate",
      "field_display": "創建日期",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createby",
      "field_display": "創建用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updatedate",
      "field_display": "修改日期",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updateby",
      "field_display": "修改用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Draft"
        },
        {
          "value": "2",
          "displayname": "Request"
        },
        {
          "value": "3",
          "displayname": "Approval"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "thumb",
      "field_display": "縮略圖",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "image",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "type",
      "field_display": "種類",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [
        {
          "value": "1",
          "displayname": "圖片"
        },
        {
          "value": "2",
          "displayname": "影片"
        },
        {
          "value": "3",
          "displayname": "連結"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "link",
      "field_display": "連結/圖片",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "file",
      "maxlength": 250,
      "mandatory": 1
    }
  ]
}
