{
  "module_name": "Log",
  "module_display": "日誌",
  "show_edit_button": 0,
  "show_copy_button": 0,
  "show_export_button": 0,
  "show_rank_button": 0,
  "have_approval": 0,
  "listing_sort": "id asc",
  "field": [
    {
      "field_name": "id",
      "field_display": "ID",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 11,
      "mandatory": 1
    },
    {
      "field_name": "status",
      "field_display": "狀態",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "ip",
      "field_display": "IP",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createdate",
      "field_display": "創建日期",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createby",
      "field_display": "創建用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "module",
      "field_display": "模塊",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "useraction",
      "field_display": "用戶動作",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "record_id",
      "field_display": "記錄ID",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "display_msg",
      "field_display": "內容",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 250,
      "mandatory": 1
    },
    {
      "field_name": "log_type",
      "field_display": "日誌類型",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [
        {
          "value": "0",
          "displayname": "Login"
        },
        {
          "value": "1",
          "displayname": "Notify"
        },
        {
          "value": "2",
          "displayname": "Update"
        },
        {
          "value": "3",
          "displayname": "Warning"
        },
        {
          "value": "4",
          "displayname": "Error"
        },
        {
          "value": "5",
          "displayname": "Critical Error"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "remark",
      "field_display": "備註",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "textarea",
      "maxlength": 0,
      "mandatory": 1
    }
  ]
}