{
  "module_name": "Monthlytopic",
  "module_display": " 每月專題",
  "show_edit_button": 1,
  "show_copy_button": 0,
  "show_import_button": 0,
  "show_export_button": 0,
  "show_rank_button": 0,
  "have_approval": 0,
  "listing_sort": "id asc",
  "language": [
    {
      "name": "en",
      "displayname": "英文"
    },
    {
      "name": "tc",
      "displayname": "繁中"
    },
    {
      "name": "sc",
      "displayname": "簡中"
    }
  ],
  "field": [
    {
      "field_name": "id",
      "field_display": "ID",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 11,
      "mandatory": 1
    },
    {
      "field_name": "rank",
      "field_display": "排行",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [],
      "show_in_edit": 0,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "status",
      "field_display": "狀態",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "ip",
      "field_display": "IP",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createdate",
      "field_display": "創建日期",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createby",
      "field_display": "創建用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updatedate",
      "field_display": "修改日期",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updateby",
      "field_display": "修改用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "year",
      "field_display": "年份",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [
        {
          "value": "2010",
          "displayname": "2010"
        },
        {
          "value": "2011",
          "displayname": "2011"
        },
        {
          "value": "2012",
          "displayname": "2012"
        },
        {
          "value": "2013",
          "displayname": "2013"
        },
        {
          "value": "2014",
          "displayname": "2014"
        },
        {
          "value": "2015",
          "displayname": "2015"
        },
        {
          "value": "2016",
          "displayname": "2016"
        },
        {
          "value": "2017",
          "displayname": "2017"
        },
        {
          "value": "2018",
          "displayname": "2018"
        },
        {
          "value": "2019",
          "displayname": "2019"
        },
        {
          "value": "2020",
          "displayname": "2020"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "month",
      "field_display": "月份",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [
        {
          "value": "1",
          "displayname": "1"
        },
        {
          "value": "2",
          "displayname": "2"
        },
        {
          "value": "3",
          "displayname": "3"
        },
        {
          "value": "4",
          "displayname": "4"
        },
        {
          "value": "5",
          "displayname": "5"
        },
        {
          "value": "6",
          "displayname": "6"
        },
        {
          "value": "7",
          "displayname": "7"
        },
        {
          "value": "8",
          "displayname": "8"
        },
        {
          "value": "9",
          "displayname": "9"
        },
        {
          "value": "10",
          "displayname": "10"
        },
        {
          "value": "11",
          "displayname": "11"
        },
        {
          "value": "12",
          "displayname": "12"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "title",
      "field_display": "標題",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "content",
      "field_display": "內容",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "editor",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "image",
      "field_display": "圖片 (1920X500)",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "image",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "image_m",
      "field_display": "圖片(手機, 500X500)",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "image",
      "maxlength": 200,
      "mandatory": 1
    }
  ]
}
