{
  "module_name": "Page",
  "module_display": "Page",
  "show_edit_button": 0,
  "show_copy_button": 0,
  "show_export_button": 0,
  "show_rank_button": 0,
  "have_approval": 0,
  "listing_sort": "id asc",
  "language": [
    {
      "name": "en",
      "displayname": "英文"
    },
    {
      "name": "tc",
      "displayname": "繁中"
    },
    {
      "name": "sc",
      "displayname": "簡中"
    }
  ],
  "field": [
    {
      "field_name": "id",
      "field_display": "ID",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 11,
      "mandatory": 1
    },
    {
      "field_name": "rank",
      "field_display": "排行",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [],
      "show_in_edit": 0,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "status",
      "field_display": "狀態",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "ip",
      "field_display": "IP",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createdate",
      "field_display": "創建日期",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createby",
      "field_display": "創建用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updatedate",
      "field_display": "修改日期",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updateby",
      "field_display": "修改用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 0,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "title",
      "field_display": "標題",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 1
    },
    {
      "field_name": "meta_keyword",
      "field_display": "Meta Keywords",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "meta_desc",
      "field_display": "Meta Description",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "textarea",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "image",
      "field_display": "圖片",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "image",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text1",
      "field_display": "text1",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "content1",
      "field_display": "內容 1",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "editor",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "content2",
      "field_display": "內容 2",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "editor",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "content3",
      "field_display": "內容 3",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "editor",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "editor1",
      "field_display": "Editor1",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "editor",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text2",
      "field_display": "text2",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text3",
      "field_display": "text3",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text4",
      "field_display": "text4",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text5",
      "field_display": "text5",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text6",
      "field_display": "text6",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    },
    {
      "field_name": "text7",
      "field_display": "text7",
      "multi_lang": 1,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 200,
      "mandatory": 0
    }
  ]
}
