{
  "module_name": "User",
  "module_display": "用户",
  "show_edit_button": 1,
  "show_copy_button": 1,
  "show_export_button": 1,
  "show_rank_button": 1,
  "have_approval": 0,
  "listing_sort": "id asc",
  "field": [
    {
      "field_name": "id",
      "field_display": "ID",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "login",
      "field_display": "登入名稱",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "password",
      "field_display": "密碼",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "password",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "name",
      "field_display": "名稱",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "email",
      "field_display": "電子郵件",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "user_role",
      "field_display": "角色",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "status",
      "field_display": "狀態",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [
        {
          "value": "1",
          "displayname": "Active"
        },
        {
          "value": "2",
          "displayname": "Inactive"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 1,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 1
    },
    {
      "field_name": "approval",
      "field_display": "Approval",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [
        {
          "value": "1",
          "displayname": "Draft"
        },
        {
          "value": "2",
          "displayname": "Request"
        },
        {
          "value": "3",
          "displayname": "Approval"
        }
      ],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "approval_remark",
      "field_display": "Approval Remark",
      "multi_lang": 1,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "textarea",
      "maxlength": 0,
      "mandatory": 0
    },
    {
      "field_name": "ip",
      "field_display": "IP",
      "multi_lang": 1,
      "show_in_listing": 0,
      "show_in_export": 0,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "text",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createdate",
      "field_display": "創建日期",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "createby",
      "field_display": "創建用户",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updatedate",
      "field_display": "修改日期",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "updateby",
      "field_display": "修改用户",
      "multi_lang": 0,
      "show_in_listing": 1,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "approvedate",
      "field_display": "Approved Date",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "datepicker",
      "maxlength": 100,
      "mandatory": 0
    },
    {
      "field_name": "approveby",
      "field_display": "Approved By",
      "multi_lang": 0,
      "show_in_listing": 0,
      "show_in_export": 1,
      "can_search": 1,
      "options": [],
      "show_in_edit": 1,
      "can_edit": 0,
      "input_type": "dropdown",
      "maxlength": 100,
      "mandatory": 0
    }
  ]
}